body{
    font-size: 17px;
    color: white;
    font-family: 'Rubik', sans-serif;
}
/* Inicio cabecalho */
.cabecalho,.section-perfil{
    background-color: #191a1d;
}
.nav-item a{
    color: whitesmoke ;
    padding: 0.5em 0 0.5em 0;
    font-size: 1.3em;
}


.navbar-nav li a{
    color: #ababab;
}
.navbar-nav li a:hover{
    color: #f5f5f5;
}
.fa-bars{
    font-size: 1.7em;
    color: whitesmoke;
}
/* Fim cabeçalho */



/* Inicio section início-perfil */
.section-perfil{
    text-align: center;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 6rem)) /* ! pesquisar sobre calc*/;
    padding-bottom: 6rem;
}
.perfil-img{
    width: 100vw;
}
.section-perfil h1{
    font-size: 2.4em;
    color: whitesmoke;
    /* font-weight: medium; */
}
.section-perfil p{
    margin-bottom: 0;
    line-height: 1.8rem;
    font-weight: lighter;
    margin-top: 2rem;
    color: #ababab;
    font-size: 1.1em;
}

.hr-line{
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;

    border-top: 2px solid rgba(148, 144, 144, 0.192);
    padding: 0;
    margin: 0;
}
.perfil-img{
    /* width: 50vw; */
    border-radius: 100%;
    box-shadow: 0px 0px 5px 10px  #121316;
    /* border: 4px double #ffffff; */
}
.btn-projetos{
    cursor: pointer;
    color: #ffffff;
    margin: 2em 0 2em;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #28a745;
    border-radius: 50px;
    background-color: #28a745;
    font-size: 1.5em;
    transition: ease-in 0.3s;
}
.btn-projetos:hover,
.btn-projetos:active{
    transition: ease-in 0.4s;
    scale: 1.1;
    background-color: transparent;
    color: white;
}
/* Fim section inicio-perfil */


/* * Inicio section cursos bg */
.section-cursos{
    background: #45B85F ;
    padding-bottom: 5em
}
.cursos-descricao {
    /* border: 1px solid red; */
    text-align: center;
    margin: 2rem 0 2rem 0;

}
.cursos-descricao h1{
    text-shadow: 0px 1px 1px #191a1d9a;
    font-weight: bolder;
    font-size: 2rem;
}
.cursos-descricao p{
    line-height: 1.8rem;
    margin-bottom: 0;
    margin-top: 2rem;
    font-size: 1.1em;
}
/* ! Fim section cursos bg */

/* *Inicio lista cursos */
b{
    color: rgba(0, 0, 0, 0.808);
}
.section-lista-cursos{
    border-radius: 1em;
    display: block;
    margin-top: -5em;
    margin-left: auto;
    margin-right: auto;
    color: black;
}


.card{
    border-radius: 1rem;
    text-align: center;
}
.card ul{
    list-style: none;
    padding-left: 0;
}
.card-img-top{
    /* border: 1px solid red; */
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}
.card-title{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}
.card h2{
    letter-spacing: 2px;
    color: #191a1d; 
    text-shadow: 0px 0px 2px #919191ab
}

.card h3{
    color: #7f858d ;
    margin-top: 50px;
    font-weight: 400;
}

.section-lista-cursos li{
    color: #949ba5;
    margin-top: 0.25em;
}
.section-lista-cursos li::before{
    content: "\2714";
    color: #45b860c0;
    margin-right: 5px;
}

.section-lista-cursos p{
    font-size: 1.1em;
    color: #5e5e63;
}
.card h3::before,
.card h3::after{
    opacity: 0.9;
}

.card h3::before{
    content: '<';
}
.card h3::after{
    content: '/>';
}
.python-title::before{
    color: #3670a0;
}
.python-title::after{
    color: #fed140;
}

.game-title::before{
    color: #ff5f5f;
}
.game-title::after{
    color: #fed140;
}
.Web-title::before{
    color: #353a85;
}
.Web-title::after{
    color: #52bd6a;
}
/* !Fim lista cursos */


/* * Inicio section serviços */
.section-meus-servicos{
    color: black;
    text-align: center;
}


.title-servicos{
    /* border: 1px solid tomato; */
}


/* !Fim section serviços */

/*  Extra small devices (portrait phones, less than 576px) */
/*  No media query for `xs` since this is the default in Bootstrap */

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .section-perfil h1 {
        font-size: 3.2em;
    }
    .section-perfil p {
        line-height: 2.2rem;
        color: #ababab;
        font-size: 1.3em;
    }
    .hr-line{
        display: none;
    }
 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  
   .descricao-img{
       margin-top: auto;
       margin-bottom: auto;
   }
   .btn-projetos{
    cursor: pointer;
    font-size: 2em;
    margin: 2em 0 0;
    }
    .section-lista-cursos .col:first-child div:first-child {
        border-radius: 1rem 0 0 1rem;
    }
    .section-lista-cursos .col:last-child div:last-child {
        border-radius: 0 1rem 1rem 0;
    }
    .section-lista-cursos .col:nth-child(2) .card{
       border-radius: 0;
       border-top: 0;
       border-left: 0;
       border-right: 0;
    }

    .section-lista-cursos .col{
        padding: 0;
    } 
    
    .section-meus-servicos .col{
        padding: 0;
    }
    


    .section-perfil{
        text-align: center;
        padding-bottom: 6rem;
    }
    /* .cursos-descricao h1 {
        font-size: 2rem;
    } */
    .cursos-descricao p{
        width: 60vw;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.2em;
        line-height: 2rem;

    }
   
        
}
 

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .navbar-nav li{
        margin-right: 50px;
    }
    .nav-item{
        position: relative;
    }
    .nav-link::before,
    .nav-link:hover::before,
    .navbar-nav li a:hover,
    .navbar-nav li a{
        transition: all ease 0.3s;
    }

    .nav-link::before{
        content: '';
        transform: translateX(50%);
        position: absolute;
        height: 5px;
        width: 20%;
        background: #28a745;
        right: 50%;
        opacity: 0;
        bottom: 0;
        border-radius: 6px;
    }
    .nav-link:hover::before{
        width: 100%;
        opacity: 1;
    }
 }

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
}