body{
    font-size: 17px;
    color: white;
    font-family: 'Rubik', sans-serif;
}
/* Inicio cabecalho */
.cabecalho,.section-perfil{
    background-color: #191a1d;
}
.nav-item a{
    color: whitesmoke ;
    padding: 0.5em 0 0.5em 0;
    font-size: 1.3em;
}
.fa-bars{
    font-size: 1.7em;
    color: whitesmoke;
}
/* Fim cabeçalho */



/* Inicio section início-perfil */
.section-perfil{
    text-align: center;
    clip-path: polygon(100% 0, 100% 100%, 0 92%, 0 0);
    padding-bottom: 6rem;
}
.perfil-img{
    width: 100vw;
}
.section-perfil h1{
    font-size: 2.4em;
    color: whitesmoke;
    /* font-weight: medium; */
}
.section-perfil p{
    margin-bottom: 0;
    line-height: 1.8rem;
    font-weight: lighter;
    margin-top: 2rem;
    color: #ababab;
    font-size: 1.1em;
}

.hr-line{
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;

    border-top: 2px solid rgba(148, 144, 144, 0.192);
    padding: 0;
    margin: 0;
}
.perfil-img{
    /* width: 50vw; */
    border-radius: 100%;
    box-shadow: 0px 0px 5px 10px  #121316;
    /* border: 4px double #ffffff; */
}
.btn-projetos{
    cursor: pointer;
    color: #ffffff;
    margin: 2em 0 2em;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #28a745;
    border-radius: 50px;
    background-color: #28a745;
    font-size: 1.5em;
    transition: ease-in 0.3s;
}
.btn-projetos:hover,
.btn-projetos:active{
    transition: ease-in 0.4s;
    scale: 1.1;
    background-color: transparent;
    color: white;
}
/* Fim section inicio-perfil */


/* * Inicio section cursos bg */
.section-cursos{
    background: #45B85F ;
    padding-bottom: 5em
}
.cursos-descricao {
    /* border: 1px solid red; */
    text-align: center;
    margin: 2rem 0 2rem 0;

}
.cursos-descricao h1{
    text-shadow: 0px 1px 1px #191a1d9a;
    font-weight: bolder;
    font-size: 2rem;
}
.cursos-descricao p{
    line-height: 1.8rem;
    margin-bottom: 0;
    margin-top: 2rem;
    font-size: 1.1em;
}
/* ! Fim section cursos bg */

/* *Inicio lista cursos */
b{
    color: rgba(0, 0, 0, 0.808);
}
.section-lista-cursos{
    border-radius: 1em;
    display: block;
    margin-top: -5em;
    /* background-color: white; */
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    /* box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.486); */
    color: black;
}

.card-group{
    text-align: center;
}
.card-group ul{
    list-style: none;
    padding-left: 0;
}
.card {
    border-radius: 1rem;
}

.card-img-top{
    /* border: 1px solid red; */
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}
.card-title{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}
.card h2{
    letter-spacing: 2px;
    color: #191a1d; 
    text-shadow: 0px 0px 2px #919191ab
}

.card h3{
    color: #7f858d ;
    margin-top: 50px;
    font-weight: 400;
}

.section-lista-cursos li{
    color: #949ba5;
    margin-top: 0.25em;
}
.section-lista-cursos li::before{
    content: "\2714";
    color: #45b85f;
    margin-right: 5px;
}

.section-lista-cursos p{
    font-size: 1.1em;
    color: #5e5e63;
}

.python-title::before{
    color: #3670a0;
    content: "<";
}
.python-title::after{
    color: #fed140;
    content: "/>";
}

.game-title::before{
    color: #ff5f5f;
    content: "<";
}
.game-title::after{
    color: #fed140;
    content: "/>";
}
.Web-title::before{
    content: "<";
    color: #353a85;
}
.Web-title::after{
    content: "/>";
    color: #52bd6a;
}


/* !Fim lista cursos */


/*  Extra small devices (portrait phones, less than 576px) */
/*  No media query for `xs` since this is the default in Bootstrap */

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .section-perfil h1 {
        font-size: 3.2em;
    }
    .section-perfil p {
        line-height: 2rem;
        color: #ababab;
        font-size: 1.3em;
    }
    .hr-line{
        display: none;
    }
    .card h2{
        height: 50px;
    }
    
    .card-text{
        /* border: 1px solid tomato;  */
        height: 286.5px;
    }
 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  
   .descricao-img{
       margin-top: auto;
       margin-bottom: auto;
   }
   .btn-projetos{
    cursor: pointer;
    font-size: 2em;
    margin: 2em 0 0;
    }
    

    .section-perfil{
        text-align: center;
        clip-path: polygon(100% 0, 100% 100%, 0 88%, 0 0);
        padding-bottom: 6rem;
    }
    /* .cursos-descricao h1 {
        font-size: 2rem;
    } */
    .cursos-descricao p{
        width: 60vw;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.2em;
        line-height: 2rem;

    }
    .card-text{
        /* border: 1px solid blue; */
        height: 198.35px;
    }
    
}
 

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .card-text{
        /* border: 1px solid pink; */
        height: 142.25px;
    }
 }

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
}