body{
    font-size: 17px;
    color: white;
    font-family: 'Rubik', sans-serif;
}
/* Inicio cabecalho */
.cabecalho,
.section-perfil,
.section-contato{
    background-color: #191a1d;
}
.nav-item a{
    color: whitesmoke ;
    padding: 0.5em 0 0.5em 0;
    font-size: 1.3em;
}


.navbar-nav li a{
    color: #ababab;
}
.navbar-nav li a:hover{
    color: #f5f5f5;
}
.fa-bars{
    font-size: 1.7em;
    color: whitesmoke;
}
/* Fim cabeçalho */



/* Inicio section início-perfil */
.section-perfil,
.section-contato{
    text-align: center;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 6rem)) /* ! pesquisar sobre calc*/;
    padding-bottom: 6rem;
}
.perfil-img{
    width: 100vw;
}
.section-perfil h1{
    font-size: 2.2em;
    color: whitesmoke;
}
.efeito_cursor{
    animation: cursor 1s step-end infinite;
}
.section-perfil p{
    margin-bottom: 0;
    line-height: 1.8rem;
    font-weight: lighter;
    margin-top: 2rem;
    color: #ababab;
    font-size: 1.1em;
}

.hr-line{
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;

    border-top: 2px solid rgba(148, 144, 144, 0.192);
    padding: 0;
    margin: 0;
}
.perfil-img{
    /* width: 50vw; */
    border-radius: 100%;
    box-shadow: 0px 0px 5px 10px  #121316;
    /* border: 4px double #ffffff; */
}
.btn-projetos,
.btn-contato{
    cursor: pointer;
    color: #ffffff;
    margin: 2em 0 2em;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #28a745;
    border-radius: 50px;
    background-color: #28a745;
    font-size: 1.5em;
    transition: ease-in 0.3s;
}
.btn-projetos:hover,
.btn-projetos:focus,
.btn-contato:hover,
.btn-contato:focus{
    transition: ease-in 0.4s;
    transform: scale(1.1);
    background-color: transparent;
    color: white;
}
/* Fim section inicio-perfil */


/* * Inicio section cursos bg */
.section-cursos{
    background: #45B85F ;
    padding-bottom: 5em
}
.cursos-descricao {
    /* border: 1px solid red; */
    text-align: center;
    margin: 2rem 0 2rem 0;

}
.cursos-descricao h1,
.title-servicos{
    text-shadow: 2px 2px  #191a1d2c;
    font-weight: bolder;
    font-size: 2rem;
    
}
.cursos-descricao p{
    line-height: 1.8rem;
    margin-bottom: 0;
    margin-top: 2rem;
    font-size: 1.1em;
}
/* ! Fim section cursos bg */

/* *Inicio lista cursos */
b{
    color: rgba(0, 0, 0, 0.808);
}
.section-lista-cursos{
    border-radius: 1em;
    display: block;
    margin-top: -5em;
    margin-left: auto;
    margin-right: auto;
    color: black;
}
.section-lista-cursos .card{
    border: 1px solid #45b85f36;

}
.card-text{
    /* border: 1px solid red; */
    margin-top: 2rem;
}

.card-text a{ /*! Ajustar para mobile*/
    color: #4279a6;
    border-bottom: 1px solid rgba(180, 0, 0, 0);
    transition: ease-in-out 0.5s;
}
.card-text a:hover,
.card-text a:active,
.card-text a:focus{
    text-decoration: none;
    border-bottom-color: #4279a6;
    transition: ease-in 0.5s;

}

.card{
    border-radius: 0.5rem;
    text-align: center;
}
.card ul{
    list-style: none;
    padding-left: 0;
}
.card-img-top{
    /* border: 1px solid red; */
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}
.section-lista-cursos .card-title{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}
.section-lista-cursos .card h2{
    letter-spacing: 2px;
    color: #191a1d; 
    font-weight: bolder;
}

.sub-title{
    font-size: 1.3em;
    color: #191a1d9e ;
    margin-top: 2rem;
    font-weight: 300;
}

.section-lista-cursos li{
    color: #949ba5;
    margin-top: 0.25em;
}
.section-lista-cursos li::before{
    content: "\2714";
    color: #45b860c0;
    margin-right: 5px;
}

.section-lista-cursos p{
    font-size: 1.1em;
    color: #5e5e63;
}
.section-lista-cursos .card h3::before,
.section-lista-cursos .card h3::after{
    opacity: 0.5;
}

.section-lista-cursos .card h3::before{
    content: '<';
}
.section-lista-cursos .card h3::after{
    content: '/>';
}
.python-title::before{
    color: #3670a0;
}
.python-title::after{
    color: #fed140;
}

.game-title::before{
    color: #ff5f5f;
}
.game-title::after{
    color: #fed140;
}
.Web-title::before{
    color: #353a85;
}
.Web-title::after{
    color: #52bd6a;
}
/* !Fim lista cursos */


/* * Inicio section serviços */
.section-meus-servicos{
    color: black;
    text-align: center;
}


.section-meus-servicos .card{
    border: 0;
    border-top: 0.5rem solid #6fd085;
    background-color: #f6f6f6   ;
}
.section-meus-servicos p{
    color: #5e5e5e;
}
.title-servicos{
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
/* !Fim section serviços */

/* * Início footer */
.rodape{
    clip-path: polygon(0 0, 100%  6rem, 100% 100%, 0 100%);
    padding-top: 6rem;
    background-color: #191a1d;
}
.row-contato{
    margin: 3rem 0 3rem;
    /* border: 1px solid blue; */
}

.col-contato{
    text-align: center;   
    /* border: 1px solid gold; */
    margin-bottom: 3rem;
   
}
.col-contato h2,
.col-contato h3{
    font-weight: bolder;
    font-size: 1.3rem;
}
.col-contato h2{
    color: whitesmoke;
    margin-bottom: 1.3rem;
}

.col-contato h3{
    color: #ababab;
}
.titulos{
    padding-bottom: 2em;
}
.btn-contato{
    margin:0 !important;

}

.col-social ul{ 
    /* border:1px solid pink ; */
    padding-left: 0;
    list-style: none;
    margin: 0;
}
.col-social li a{
    display: block;
    padding: 10px 0px 10px ;
    text-decoration: none;
    color: #ababab;
    transition: ease-in-out 0.5s;
}

.col-social li a:hover,
.col-social li a:active{
    transition: ease-in 0.5s;
    color: #28a745;

}

.rodape-direitos{
    padding: 2rem 0 2rem;
    background-color: #101114;
}
.fa-bootstrap{
    font-size: 1.5em;
}
.made-with{
    text-shadow: -2px 2px 3px #000000;
}
.made-with i{   
    color: #8e59db;
    vertical-align: middle;

}
.made-with a{
    text-decoration: none;
    color: #fcfcfc49;
}

/* !Fim footer */

/* ------ *Inicio Página contato */
.section-formulario .title{
    color: rgba(54, 54, 54, 0.932);
}
.section-formulario .jumbotron{
    position: relative;
    border-top: .3rem solid #28a746d3;
    background-color: #f6f6f6;
}
.section-formulario .status{
    margin: .5em 0 .5em;
    color: #28a746d3;
}
.section-formulario .badge{
    position: absolute;
    top: 5px;
    right: 5px;
}
.section-formulario .lead{
    color: #191a1d9e;
}
/* !Fim página contato */
/* inicio Animaçao cursor */
@keyframes cursor{
    0%{
        border-right: .15em solid #f5f5f5;
    }
    50%{
        border-right: .15em solid transparent;
    }
    100%{
        border-right: .15em solid #f5f5f5;
    }

}
/* fim animação cursor */




/*  Extra small devices (portrait phones, less than 576px) */
/*  No media query for `xs` since this is the default in Bootstrap */

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .section-perfil h1 {
        font-size: 3.2em;
        letter-spacing: .2rem;
    }
    .col-contato h2,
    .col-contato h3{
    font-size: 2rem;
    }
    

    
    .section-perfil p {
        line-height: 2.2rem;
        color: #ababab;
        font-size: 1.3em;
    }
    .hr-line{
        display: none;
    }
 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  

    .section-perfil h1 {
        font-size: 2.5em;
    }

   .descricao-img{
       margin-top: auto;
       margin-bottom: auto;
   }
   .btn-projetos,
   .btn-contato{
    cursor: pointer;
    font-size: 2em;
    margin: 2em 0 0;
    }
    .section-lista-cursos .col:first-child div:first-child {
        border-radius: 0.5rem 0 0 0.5rem;
    }
    .section-lista-cursos .col:last-child div:last-child {
        border-radius: 0 0.5rem 0.5rem 0;
    }
    .section-lista-cursos .col:nth-child(2) .card{
       border-radius: 0;
       border-top: 0;
       border-left: 0;
       border-right: 0;
    }
    


    .section-perfil{
        text-align: center;
        padding-bottom: 6rem;
    }
    /* .cursos-descricao h1 {
        font-size: 2rem;
    } */
    .cursos-descricao p{
        width: 60vw;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.2em;
        line-height: 2rem;

    }
    .col-social,
    .col-contato{
        margin-bottom: auto;
        margin-top: auto;

    }
    .col-social li a{
        display: inline-block;
   }
    
   
        
}
 

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .navbar-nav li{
        margin-right: 50px;
    }
    .nav-item{
        position: relative;
    }
    .nav-link::before,
    .nav-link:hover::before,
    .navbar-nav li a:hover,
    .navbar-nav li a{
        transition: all ease 0.3s;
    }

    .nav-link::before{
        content: '';
        transform: translateX(50%);
        position: absolute;
        height: 5px;
        width: 20%;
        background: #28a745;
        right: 50%;
        opacity: 0;
        bottom: 0;
        border-radius: 6px;
    }
    .nav-link:hover::before{
        width: 100%;
        opacity: 1;
    }
    .efeito_cursor::before,
    .efeito_cursor::after{
        color: #ababab;
        text-shadow: 2px 2px  #0000008e;
    }
    .efeito_cursor::before{
        content: '>> "';
    }
    .efeito_cursor::after{
        padding-right: 0.18em;
        content: '"';
    }
    .card-img-top{
        width: 25%;
        
    }
    .col-contato h2,
    .col-contato h3{
    font-size: 2.7rem;
    font-weight: normal;
    }
 }

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
}